*{
    margin: 0;
    padding: 0;
}
.first{background-color: #2c2929;
    width: 100%;
       height: 140px;
       
       text-align: center;
       font-size: 25px;
       font-family: sans-serif;
       color: #fff;

}
.nav{
    width: 100%;
    background-color: #A80154;
    text-align: center;

}
.nav ul li{
    display: inline-block;
    padding: 30px;
    
    
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
}
.img{
    width: 100%;
    height: 360px;
    
}
.con{width: 100%;
    display: flex;

}
.con1{
    width: 40%;
    margin-left: 120px;
    text-align: justify;
}
.con h1{
    color: #A80154;
}
.con2{
    width: 60%;
    text-align: justify;
    margin-right: 50px;
    
}
.con p{
    font-size: 19px;
}
.box{ 
    width: 100%;
    display: flex;
    height: 370px;
    background-color: #A80154;
    padding-top: 25px;
}
.box h1{
    font-size: 27px;
}
.box p{
    font-size: 21px;
}
.box button{
    font-size: 17px;
    margin-top: 10px;
}
.box1{
    width: 25%;
    padding-left: 40px;
}
.box2{
    width: 25%;
}
.box3{
    width: 25%;
}
.box4{
    width: 25%;
}
.col{
    width: 100%;
    display: flex;
    padding-top: 30px;

    background-color: #2c2929;
}
.col h1{
    color: #A80154;
}
.col p{
    color: #fff;
}
.col p a{
    color: #fff;
    line-height: 40px;
}
.col1{
    width: 33%;
    line-height: 32px;
    padding-left: 40px;
}
.col2{
    width: 33%;
    line-height: 32px;
}
.col3{
    width: 33%;
    line-height: 32px;
}
.social{
    padding-top: 23px;
}

.t{
    color: white;
    font-size: 40px;
    border-radius: 10px;
    
}
.t:hover{
    
    background-color: coral;
}
.f{
    font-size: 40px;
    color: white;
}
.f:hover{
    background-color: cyan;
}
.l{
    font-size: 40px;
    color:white;
}
.l:hover{
    background-color: chocolate;
}
.p{
    margin-top: 30px;
}
.last{
   
    padding-top: 30px;
    height: 50px;
    text-align: center;
    background-color: #A80154;
}